*{
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-loadmore{
    display: block;
    text-align: center;
    margin: 20px 0;
    button{
        font-size: 14px;
        width: 30%;
    }
}